/* "Design is intelligence made visible." --Alina Wheeler */

h2 { font-family: "Ubuntu", arial, serif; font-size: 1.5em; padding: 1em 0; color: #FFF; line-height: 1.4em; }
h3 { font-family: "Allerta", arial, serif; font-size: 1.4em; padding: 1.5em 0 .5em 0; color: #666; }
p { font-family: arial; font-size: 0.9em; line-height: 1.5em; color: #999; }


body {

	}
	
#page {
	position: relative;
	width: 100%;
	border-top: 6px solid #0D1F30;
	}

#header {
	width: 960px;
	position: relative;
	margin: 0 auto;
	}
	#header #logo {
		height: 127px;
		width: 124px;
		margin: 20px 0 0 0;
		float: left;
		background: url(img/logo.jpg) top left no-repeat;
		text-indent: -9999px;
		}
	#header ul#navigation_pri {
		float: right;
		position: relative;
		margin-top: 50px;
		}
		#header ul#navigation_pri li {
			float: left;
			padding: 20px 0 0 30px;
			}
			#header ul#navigation_pri li a {
				text-decoration: none;
				font-family: "Ubuntu", arial, serif;
				font-size: 1.4em;
				color: #CCC;
				}
				#header ul#navigation_pri li a:hover {
					color: #DB6C0F;
					}
	
	#header:after {
		content: "."; visibility: hidden; display: block; clear: both; height: 0; font-size: 0;
		}

#masthead {
	width: 100%;
	text-align: center;
	background-color: #3B6670;
	margin: 20px auto;
	}
	#masthead h2 {
		width: 960px;
		margin: 0 auto;
		}

#main_content {
	width: 960px;
	position: relative;
	margin: 0 auto;
	}
	#main_content #recent_work img {
		width: 100%;
		background: #EEE;
		height: 350px;
		margin-left: -20px;
		border: 20px solid #DDD;
		border-radius: 20px 0;
		}
		#main_content #recent_work img:hover {
			border: 20px solid #8BADA3;
			}
	#main_content #about_snip {
		width: 50%;
		float: left;
		}
	#main_content #featured_photos {
		width: 40%;
		float: right;
		}
		#main_content #featured_photos ul li {
			width: 100%;
			margin-bottom: 20px;
			background: #EEE;
			}
			#main_content #featured_photos ul li img {
				width: 100%;
				background: #EEE;
				height: 250px;
				border-radius: 0 10px;
				}
		
	#main_content:after {
		content: "."; visibility: hidden; display: block; clear: both; height: 0; font-size: 0;
		}
		
#footer {
	width: 100%;
	padding: 3em 0;
	margin-top: 100px;
	background: #DDD;
	text-align: center;
	color: #666;
	}